/* demo specific css */

/* primary - #0082BB, light blue */
/* secondary - #003A6D, dark blue */
/* tertiary - #7E94AC, silver blue */

#container {
	background:#333;
}
body, a {
	color: #fff !important;
}
input {
	color:#333;
}